head 
    link(href="./styles.css", rel="stylesheet")

header 
    h1.underline.font-bold Welcome to Pug
aside 
    nav 
        ul 
            li 
                a(href="http://google.com") Google 
            li
                a(href="http://amazon.com") Amazon 
            li
                a(href="http://jeffrose.io") Portfolio
main 
    h2 Main Content 
    p Here is some main content rendered in Pug. How exciting!
footer
    p Pugsby 2022